.er{

}
body{
  color: white;
  background-image: url("../img/beijing.gif");
}
.io{
  font-size: 33px;
  color: white;
  font-family: 宋体;
  text-shadow: white 2px 2px 2px;
}
.ug{
  color: red;
  font-family: 宋体;
  text-align: center;
}
.pf{
  text-align: center;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
a:hover{
  color: #555555;
}
a:active{
  color: #888888;
}
a{
  text-decoration: none;
}

